@media (min-width: 979px) {
  body {
    padding-top: 41px;

  }
}
body {
  color: #4a4a4b;
  background-color: #fafafc;
}

@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0;
  }
}

.navbar-inverse .navbar-inner {
background-color: #4a4a4b;
background-image: -moz-linear-gradient(top, #515b5a, #3a3b3d);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#515b5a), to(#3a3b3d));
background-image: -webkit-linear-gradient(top, #515b5a, #3a3b3d);
background-image: -o-linear-gradient(top, #515b5a, #3a3b3d);
background-image: linear-gradient(to bottom, #515b5a, #3a3b3d);
background-repeat: repeat-x;
border-color: #353536;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff515b5a', endColorstr='#ff3a3b3d', GradientType=0);

}

h1 {
  color: #fafafc;
}

h2,h3 {
  color: #515b5a;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
color: #fafafc;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
color: #fafafc;
background-color: #4a4a4b;
}

a {
color: #84964a;
}

ul.list > li {
list-style: none;
line-height: 30px;
}

ul.list > li:before {
content: '\2014\a0';
}

ul.benefits > li {
line-height: 30px;
margin-bottom: 0;
margin-top: 10px;
}

section {
padding-top: 30px;
}

div.row {
  min-height: 20px;
 }

 img.man {
  display:block;
  margin:0 auto;
 }


/*h3.benefits {
background: url(../img/benefits.png) no-repeat left;
margin-left: 10px;
padding-top: 80px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 80px;
}*/

.page-header {
padding-bottom: 0px;
margin: 5px 0 30px;
}
#contact-information {
padding-bottom: 100px;
}
/*h2.translation {
background: url(../img/translation.png) no-repeat right;
margin-right: 600px;
padding-top: 80px;
padding-right: 140px;
padding-bottom: -10px;
padding-left: 0px;
}*/

.footer {
  text-align: center;

}

.muted {
color: #fafafc;
}

.jumbotron {
position: relative;
padding: 40px 0;
color: #fff;
text-align: center;
text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
background: #7c838b;
background: -moz-linear-gradient(a5d704, #7c838b 0%, #84964a 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#7c838b), color-stop(100%,#84964a));
background: -webkit-linear-gradient(a5d704, #7c838b 0%,#84964a 100%);
background: -o-linear-gradient(a5d704, #7c838b 0%,#84964a 100%);
background: -ms-linear-gradient(a5d704, #7c838b 0%,#84964a 100%);
background: linear-gradient(a5d704, #7c838b 0%,#84964a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c838b', endColorstr='#84964a',GradientType=1 );
-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);

  /*text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  padding: 40px 0;
  color: #fafafc;
  background: #eaf3cb url(../img/bg_1.png) center center fixed no-repeat;
  background-size: cover;*/
}

@media (max-width: 768px) {
  .jumbotron {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

p.lead {
margin-bottom: 20px;
font-size: 25px;
font-weight: 300;
line-height: 30px;

}

.navbar-inner {
  background-color: #4a4a4b;
  background-image: -moz-linear-gradient(top, #515b5a, #3a3b3d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#515b5a), to(#3a3b3d));
  background-image: -webkit-linear-gradient(top, #515b5a, #3a3b3d);
  background-image: -o-linear-gradient(top, #515b5a, #3a3b3d);
  background-image: linear-gradient(to bottom, #515b5a, #3a3b3d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff515b5a', endColorstr='#fff3a3b3d', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);

}
