@media (min-width: 979px) {
  body {
    padding-top: 41px;

  }
}
body {
  color: #3a3b3d;
  background-color: #fafafc;
}

@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0;
  }
}

.navbar-inverse .navbar-inner {
background-color: #7c838b;
background-image: -webkit-linear-gradient(top, #7c838b, #7c838b);
background-repeat: repeat-x;
border-color: #7c838b;
}

h1 {
  color: #fafafc;
}

h2,h3 {
  color: #515b5a;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
color: #fafafc;
}
a {
color: #3459a7;
}

ul.list > li {
  list-style: none;
}

ul.list > li:before {
  content: '\2014\a0';
}

section {
  padding-top: 30px;
}

.footer {
  text-align: center;

}
div.footer navbar navbar-fixed-bottom {
  background-color: #dbe2ac;
}

.muted {
color: #26271f;
}

.jumbotron {
  padding: 40px 0;
  color: #fafafc;
  background: #eaf3cb url(../img/bg_1.png);
}

@media (max-width: 768px) {
  .jumbotron {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.navbar-inner {
  background-color: #7c838b;
  background-image: -moz-linear-gradient(top, #fafafc, #7c838b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafc), to(#7c838b));
  background-image: -webkit-linear-gradient(top, #fafafc, #7c838b);
  background-image: -o-linear-gradient(top, #fafafc, #7c838b);
  background-image: linear-gradient(to bottom, #fafafc, #7c838b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafc', endColorstr='#fff7c838b', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);

}
